
body {
    background: linear-gradient(to right, #cb7411, #fcbf25);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
  }
  
  h3 {
    font-weight: 600;
    color: #fff;
  }
  
 
  .navbar {
    background: transparent;
    box-shadow: none;
  }
  
  .navbar-logo {
    height: 40px;
    width: auto;
  }
  
  .navbar-nav .nav-link {
    font-weight: 500;
    color: #fff !important;
    padding-right: 1.5rem;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ffd700 !important;
  }
  

  .container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    width: 400px;
    text-align: center;
  }
  
  .form-label {
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .form-control {
    background: #333;
    border: 1px solid #444;
    color: #fff;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  
  .form-control:focus {
    background: #444;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    border-color: #ffd700;
  }
  
  .btn-danger {
    background-color: #ffd700;
    color: #333;
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 30px;
    transition: all 0.3s ease;
  }
  
  .btn-danger:hover {
    background-color: #e6c100;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  .alert {
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
  }
  

  @media (max-width: 768px) {
    .container {
      width: 90%;
    }
  }
  